
{% extends 'base.html%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta> charset="utf-8">
    {% if title %}
    <title> {{ title }} </title>
    {% else %}
    <title> Welcome to Our News Online Application</title>
</head>
<body>

    <!-- Content block -->
    {% block content %}
    <!-- General News -->
    <h3> General News</h3>
    <ul>
        {{ macro.displayNewsList(general)}}
    </ul>
    <!-- Entertainment  -->
    <h3> Entertainment News  </h3>
    <ul>
        {{ macro.displayNewsList(entertainment)}}
    </ul>
    <!-- Business -->
    <h3>Business News</h3>
    <ul>
        {{ macro.displayNewsList(business)}}
    </ul>

    {% endblock %}
</body>
</html>